<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clickup OAuth App</title>
</head>
<body>
    <h1>Login with Clickup</h1>
    <a href="/login">
        <button>Login with Clickup</button>
    </a>
</body>
</html>

<!-- # CLIENT_ID=7886ee65-6c54-4662-8dd2-85c8b68ce2bb
# CLIENT_SECRET=2951VXKPnzodMJMbHMu9BElUrreG5aPX7d8UwBWl6gyiWMmgbzQ12ylSX21GAAhhn91PpY6z3JVEX1KhlHEa0wo2m8fHwexVEFDynPrmksNZXlKVqa12JTxkV8VPS2Ye
# REDIRECT_URI=https://7834-2409-40f4-8-870f-ece2-c8b5-f003-bbb7.ngrok-free.app/callback -->